[submodule "src"]
	path = src
	url = git@github.com:Katello/katello.git
[submodule "cli"]
	path = cli
	url = git@github.com:Katello/katello-cli.git
[submodule "selinux"]
	path = selinux
	url = git@github.com:Katello/katello-selinux.git
[submodule "misc"]
	path = misc
	url = git@github.com:Katello/katello-misc.git
[submodule "agent"]
	path = agent
	url = git@github.com:Katello/katello-agent.git
[submodule "installer"]
	path = installer
	url = https://github.com/Katello/katello-installer
